label {
  display: block;
  margin: 0.5rem;
}

body {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  background-color: #e6f2ff;
}

fieldset {
  background-color:   #fafafa;
  border: none;
}

div {
  display: block;
  color: black;
  
}

.inline {
  width: unset;
  margin: 20 0.5em 10 0;
  vertical-align: middle;
}

hr {
  margin: 20 0;
  color:  #595959;
}

input[type="radio"] {
  margin: 3px;
}

input[type="file"] {
  padding: 1;
}
